.git
.gitignore
.env
.env.*
!.env.example
deploy/.env.prototype
deploy/certs
deploy/certificates
deploy/web
deploy/database
vendor
node_modules
storage/logs
storage/framework
bootstrap/cache
.DS_Store
phpunit.xml
tests
